@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.filter-container {
    position: sticky;
    top: 0;
    background: white; 
    z-index: 1; 
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    max-height: 300px; 
    overflow-y: auto;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 35px;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.filter {
    flex: 1; 
    padding: 10px;
    border: 2px solid #473a8a;
    background-color: #ffffff; 
    color: rgb(3, 3, 3);
    cursor: pointer;
    border-radius: 15px;
    margin-right: 5px;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.filter:last-child {
    margin-right: 0;
}

.filter:hover {
    background-color: #473a8a; 
}

.add {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(88, 88, 144);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.add:hover {
    background-color: rgb(2, 24, 123);
}

.task-list {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 35px; 
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: left;
}

.task-list li:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid rgb(2, 24, 123);
    border-radius: 50%;
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.task-list li.done {
    text-decoration: line-through;
    color: #888;
}

.task-list li.done:before {
    background-color: green;
    border-color: green;
}

.delete-btn {
    color: red;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.delete-btn:hover {
    color: darkred;
}

.input-container {
    margin-top: 20px;
}

#task-input {
    padding: 10px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 15px;
    margin-right: 5px;
}

